<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <h1>Ops, [[${name}]]</h1>
    <p>Esqueceu sua senha?</p>
    <p>Para criar sua nova senha, clique no botão abaixo!</p>

    <a th:href="@{'https://dashview-iota.vercel.app/define-password?token=' + ${token}}"
       style="padding: 10px; background-color: rgb(0, 60, 255); color: white; border: none; font-weight: bold; text-decoration: none;">
        REDEFINIR SENHA
    </a>

    <p>Ou copie e cole este link no navegador:</p>
    <p>
        <a th:href="@{'https://dashview-iota.vercel.app/define-password?token=' + ${token}}">
            https://dashview-iota.vercel.app/define-password?token=[[${token}]]
        </a>
    </p>

    <p>Obrigado!</p>
</div>
</body>
</html>
