<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <p>Houve um defrator na pesquisa respondida!</p>
    <p>Pergunta: [[${question}]]</p>
    <p>Nota: [[${answer}]]</p>
    <p>[[${observation}]]</p>
    <p>Nome do paciente: [[${patientName}]]</p>
    <p>Telefone do paciente: [[${patientPhone}]]</p>
</div>
</body>
</html>
